<!DOCTYPE html>
<html>
<head>
  <title>Video Upload</title>
</head>
<body>
  <h1>Upload a Video</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="video">
    <br><br>
    <label for="language">Select Language:</label>
    <select name="language" id="language">
      <option value="en">English</option>
      <option value="hi">Hindi</option>
      <option value="es">Spanish</option>
      <option value="de">German</option>
      </select>
    <br><br>
    <input type="submit" value="Upload">
  </form>
</body>
</html>
